.main-nav{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    position: absolute;
    width: 250px;
    font-size: 0.8rem;
    z-index: 300;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    display: none;
}
.openNav{
    display: block;
}

@media (min-width: 768px) {
    .main-nav{
        max-width: 250px;
        min-width: 230px;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        position: sticky;
        top: 0;
        gap: 14px;
        flex-direction: column;
    }
}

.fadeIn{
    animation: fadeIn 0.5s ease-out forwards;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(0); }
    to   { opacity: 1; transform: translateY(0px); }
}




.main-nav a{
    text-decoration: none;
    color: var(--primary)

}
a:visited {
    color: var(--primary); /* Giữ nguyên màu, không đổi tím */
}
.avatar{

}
.avatar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;

}
.avatar >span{
    font-weight: 300;
    color: var(--primary);
}
hr{
    height: 2px;
    background-color: var(--primary);
    border-radius: 50px;
    border: none;
}
li{
    list-style-type: none;
}
.list-option >li {

    min-height: 40px;
    padding: 10px 15px;
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 10px;


}
.mul-option{
    align-items: flex-start !important;
}
.list-option >li >img{
    width: 20px;
    height: 20px;
}
.list-option >li >img:last-child{
    width: 20px;
    height: 10px;
    align-self: flex-start;
    justify-self:flex-end;
    position:absolute;
    right:0;
    top:14px;

}
.sub-multi_option{
    align-self: flex-start !important;
}
.sub-item{
    min-height: 50px;
    transform-origin: top;
    padding: 15px 0;
    display:none;
    transition: scaleY 1s ease
}
.open{
    transform: scaleY(1);
    display:block;
}
.sub-item > li:first-child{
    margin-bottom: 15px;
}
.sub-item li::before{
    content: "▶"; /* Ký hiệu bạn muốn */
    color: #13134a;
    font-size:8px;
    font-weight: bold;
    margin-right: 10px;
    position: relative;
    top:-2px;
}

.list-option >li >img:last-child:hover{
    cursor: pointer;
}
li.item1 {
    font-weight: bold;
    text-decoration-line:underline;
    color: #0000a3;
}
.main-item:hover{
    cursor:pointer
}
.main-item:active{
    transform:scale(0.95);
}

.active{
    transform: rotate(90deg);
}