

.search-area {
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: space-between;
    background-color: white;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.col:first-child {
    flex-basis: 30%;
    min-width: 30%;
    max-width: 30%;
}
.col:last-child {
    flex-basis: 20%;
    flex-shrink: 1;
    flex-grow: 0;
    justify-self: flex-end;
}

@media (max-width: 1200px) {
    .col:last-child {
        flex-basis: 35%;
    }
}

.col {
    max-width: 40%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;

}



.row {
    min-width: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    gap:10px;
    align-items: center;
    justify-content: center;
}

.row p {
    flex-basis: 100px;
    flex-shrink: 0;
    flex-grow: 0;
}

.row  input, .row > .date-container {

    flex: 1; /* chiếm phần còn lại */
    min-width: 45%;
    height: 100%;
    box-sizing: border-box; /* đảm bảo padding không làm vỡ layout */
    border-radius: 20px;

}
input[type="date"]{
    width: 100%;
}

.button{
    width: 150px;
    height: 50px;
}

.title{
    font-weight: bold;
    font-size: 16px;
}
.button-import{
    width: 100%;
    height: 46.5px;
    text-align: right;

}
.button-import > button{
    width: 150px;
    position: relative;
}
.button-import > button >img{
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 10px;
}
input{
    border: none;
    box-shadow: inset 0 0 5px #626161;

}
.grid-container{
    width: 100%;
    height: 55%;
    display: grid;
    grid-template-columns: 0.25fr 0.75fr  1fr 1.25fr 1fr 1fr;
    grid-template-rows: 40px;                /* Dòng đầu cao 30px */
    grid-auto-rows: 50px;
    margin:10px 0;
    border-radius: 10px;
    overflow-y: auto; /* Hiển thị thanh cuộn nếu cần */
}
.grid-header {
    font-weight: bold;
    background-color: #97deff;;
    color: black;

    line-height: 40px;
    text-align: center;
    border: 1px solid #262626;
    text-transform: uppercase;
    position: sticky;
    top:1px; /* Cố định ở trên cùng */
    z-index: 10; /* Đảm bảo header luôn nằm trên các phần tử khác */
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}


@media (max-width: 768px) {
    .grid-header {
        font-size: 0.5rem !important;
        background-color: #00CC00;
    }
}



.grid-header >img {
    position: absolute;
    top: 10px;
    right: 2px;
}
.grid-item {
    border: 1px solid #262626;
    text-align: center;
    line-height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Bo góc */
.grid-header:first-child {
    border-top-left-radius: 10px;
}

.grid-header:nth-child(6) {
    border-top-right-radius: 10px;
}

.grid-item:nth-last-child(6){
    border-bottom-left-radius: 10px;
}

.grid-item:last-child {
    border-bottom-right-radius: 10px;
}

.grid-item:nth-child(12n+1),
.grid-item:nth-child(12n+2),
.grid-item:nth-child(12n+3),
.grid-item:nth-child(12n+4),
.grid-item:nth-child(12n+5),
.grid-item:nth-child(12n+6) {
}

.status{
    display: flex;
    height: 70%;
    width:80%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.expire{
    background-color: #dc6868;
}
.normal{
    background-color: #e1e16c;
}

.fresh{
    background-color: #00b05e;
}
.clickBtn:active{
    transform: scale(0.95);
}