.main-content-query > .title {
    width: 100%;
    font-weight: 500;
    font-size: 1rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.content-body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-action{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height:30px;
}
.table-data {
    width: 100%;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
}
.import-data-area{
    display: flex;

    width: 100%;
    min-height: 150px;
    background-color: #ecf9ff;
    border: 1px #313b3f solid;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    overflow: hidden;
}
.import-data-area .col {
    flex-basis: 50% !important;
    max-width: 40% !important;
    flex-shrink: 0;
    flex-grow: 1;

    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex: 1;
}

.import-data-area .row_custom {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    gap: 10px;
    align-items: center;
}

.row input, .row > .date-container {

    flex: 1; /* chiếm phần còn lại */
    min-width: 45%;
    height: 100%;
    box-sizing: border-box; /* đảm bảo padding không làm vỡ layout */
    border-radius: 20px;


}

input[type="date"] {
    width: 100%;
}


input {
    border: none;
    box-shadow: inset 0 0 5px #626161;

}

@media (min-width: 1200px) {
    .import-data-area {
        max-width: 75%;

    }
}

button {
    border-radius: 20px !important;
    display: inline-block;
    height: 45px;
    border-radius: 24.5px;
    font-size: 1rem;
    font-weight: bold;
    background: #0032af;
    line-height: 45px;
    color: #fff;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

button > img {
    width: 20px;
    height: 20px;
    transform: translateY(3px);
    margin-right: 5px;

}


.action-button{
    height: 30px;
    min-width: 150px;
    display: flex;
    padding:10px;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}
div.row.add-button {
    justify-content: flex-end;
}

.wrapper {
    flex:1;
    overflow: auto;
    border-radius: 30px;

}
thead > tr > th:last-child{
    border-top-right-radius: 30px;
}

tfoot > tr > td:last-child{
    border-bottom-right-radius: 30px;
}
table {
    width: 99.5%;
    border-collapse: collapse;
    background-color: #fdfeff;
    color: black;
    height: fit-content;
}

thead {
    position: sticky;
    height: 45px;
    top: -1px;
    z-index: 100;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
    color: white;
    background: #092975;
    box-shadow: rgb(61 61 61) 0px 20px 30px -10px;
}


tbody td, tfoot td {
    min-height: 30px;
    max-height: 60px;
    text-align: center;
    line-height: 20px;
    padding: 5px;



}

table, thead, tbody, tr, td, th {
    vertical-align: middle !important;
}
tfoot{
    text-align: center;
    height: 45px;
    position: sticky;
    bottom: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    z-index: 100;
    color: red;
    font-weight: 700;
    font-size: 1.3rem;
    background: rgb(239, 228, 228);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;}

tfoot td{

}
.delete-btn, .edit-btn {
    padding: 5px;
    width: 30px;
    max-height: 100%;
    object-fit: contain;
}

tr:nth-child(even) {
    background-color: #ecf9ff;

}
