

:root{
    --primary: rgb(10, 30, 107);
    --secondary: #171100;
    --tertiary: #adaba6;
    --four: #FFB900;
    --color-primary: #002278;
    --heigh-header:46px;
}


html{
    overflow: hidden;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 100vh;
    display:flex;

}

.main-content{
    width:100%;
    height: calc(100% - 140px);
    border: var(--color-primary) 1px solid;
    padding:10px;
    display:flex;
    flex-wrap: wrap;
    margin: 20px 15px 50px 20px;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    border-radius: 30px;
}

.main-content-query{
    width: 100%;
    height: calc(100% - 40px);
    background-color: white;
    gap:20px;
    flex-direction: column;
    padding: 20px 20px 70px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    box-sizing: border-box;
}
@media (min-width: 1200px) {
    .main-content {
        width: 70%;
        transform: translateX(6.5%);
    }
}

@media (min-width: 1600px) {
    .main-content {
        width: 70%;
        transform: translateX(10%);
    }
}
input{
    padding:10px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}
input[type="date"] {
    padding-left: 10px;
    padding-right: 5px;
    background-image: url("../icons/calendar.svg");
    background-repeat: no-repeat;
    background-position: right 4px center;

}
button{
    border-radius: 20px !important;
    display: inline-block;
    border-radius: 24.5px;
    font-size: 16px;
    font-weight: bold;
    background: #0a45a8 !important;
    color: #fff !important;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}