@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: Roboto;

}

@media (min-width: 640px){
    html{
        font-size:1rem ;
    }
}

@media (min-width: 768px){
    html{
        font-size:1.3rem ;
    }

}
@media (min-width: 1024px){
    html{
        font-size:1.2rem ;
    }
}
@media (min-width: 1280px){
    html{
        font-size:1.2rem ;
    }
}
@media (min-width: 1530px){
    html{
        font-size:1.2rem ;
    }
}
