.tabs button{
    border: none !important;
    border-radius: 0 !important;
    width:150px;
    background-color: #cfdbf3 !important;
    color:var(--primary) !important;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.tabs button:hover{
    opacity: 0.8 !important;
}
.tabs button:active{
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
}